=begin
#Email Validation API — Enterprise-grade Email Verification

#API robusta y segura para validación y verificación de correos electrónicos. Soporta verificación individual y en lote, detección de brechas, y autenticación JWT. Cumple con GDPR y dispone de planes de pago flexibles.  **🔗 Enlaces importantes:** - [Estado del sistema](https://mailsafepro.betteruptime.com) - [Documentación completa](https://email-validation-api-jlra.onrender.com/redoc)  **📧 Contacto:** mailsafepro1@gmail.com

The version of the OpenAPI document: 2.5.0

Generated by: https://openapi-generator.tech
Generator version: 7.18.0

=end

require 'cgi'

module MailSafePro
  class DefaultApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Ask Gemini
    # Llama a Gemini para generar texto a partir de un prompt
    # @param prompt [String] 
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def ask_gemini_gemini_get(prompt, opts = {})
      data, _status_code, _headers = ask_gemini_gemini_get_with_http_info(prompt, opts)
      data
    end

    # Ask Gemini
    # Llama a Gemini para generar texto a partir de un prompt
    # @param prompt [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def ask_gemini_gemini_get_with_http_info(prompt, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.ask_gemini_gemini_get ...'
      end
      # verify the required parameter 'prompt' is set
      if @api_client.config.client_side_validation && prompt.nil?
        fail ArgumentError, "Missing the required parameter 'prompt' when calling DefaultApi.ask_gemini_gemini_get"
      end
      # resource path
      local_var_path = '/gemini'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'prompt'] = prompt

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DefaultApi.ask_gemini_gemini_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#ask_gemini_gemini_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Run Audit
    # Lanza auditoría en path (ruta absoluta o relativa a la raíz del proyecto). Header obligatorio: X-Audit-Token: <AUDIT_SECRET>
    # @param [Hash] opts the optional parameters
    # @option opts [String] :path  (default to '.')
    # @option opts [String] :x_audit_token 
    # @return [Object]
    def run_audit_admin_audit_project_post(opts = {})
      data, _status_code, _headers = run_audit_admin_audit_project_post_with_http_info(opts)
      data
    end

    # Run Audit
    # Lanza auditoría en path (ruta absoluta o relativa a la raíz del proyecto). Header obligatorio: X-Audit-Token: &lt;AUDIT_SECRET&gt;
    # @param [Hash] opts the optional parameters
    # @option opts [String] :path  (default to '.')
    # @option opts [String] :x_audit_token 
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def run_audit_admin_audit_project_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.run_audit_admin_audit_project_post ...'
      end
      # resource path
      local_var_path = '/admin/audit_project'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'path'] = opts[:'path'] if !opts[:'path'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'x-audit-token'] = opts[:'x_audit_token'] if !opts[:'x_audit_token'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DefaultApi.run_audit_admin_audit_project_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#run_audit_admin_audit_project_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
