=begin
#Email Validation API — Enterprise-grade Email Verification

#API robusta y segura para validación y verificación de correos electrónicos. Soporta verificación individual y en lote, detección de brechas, y autenticación JWT. Cumple con GDPR y dispone de planes de pago flexibles.  **🔗 Enlaces importantes:** - [Estado del sistema](https://mailsafepro.betteruptime.com) - [Documentación completa](https://email-validation-api-jlra.onrender.com/redoc)  **📧 Contacto:** mailsafepro1@gmail.com

The version of the OpenAPI document: 2.5.0

Generated by: https://openapi-generator.tech
Generator version: 7.18.0

=end

require 'cgi'

module MailSafePro
  class JobsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create validation job
    # @param job_create_request [JobCreateRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_idempotency_key 
    # @option opts [String] :x_api_key 
    # @option opts [String] :authorization 
    # @return [JobCreateResponse]
    def create_job_jobs_v1_jobs_post(job_create_request, opts = {})
      data, _status_code, _headers = create_job_jobs_v1_jobs_post_with_http_info(job_create_request, opts)
      data
    end

    # Create validation job
    # @param job_create_request [JobCreateRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_idempotency_key 
    # @option opts [String] :x_api_key 
    # @option opts [String] :authorization 
    # @return [Array<(JobCreateResponse, Integer, Hash)>] JobCreateResponse data, response status code and response headers
    def create_job_jobs_v1_jobs_post_with_http_info(job_create_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: JobsApi.create_job_jobs_v1_jobs_post ...'
      end
      # verify the required parameter 'job_create_request' is set
      if @api_client.config.client_side_validation && job_create_request.nil?
        fail ArgumentError, "Missing the required parameter 'job_create_request' when calling JobsApi.create_job_jobs_v1_jobs_post"
      end
      # resource path
      local_var_path = '/jobs/v1/jobs'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'X-Idempotency-Key'] = opts[:'x_idempotency_key'] if !opts[:'x_idempotency_key'].nil?
      header_params[:'X-API-Key'] = opts[:'x_api_key'] if !opts[:'x_api_key'].nil?
      header_params[:'authorization'] = opts[:'authorization'] if !opts[:'authorization'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(job_create_request)

      # return_type
      return_type = opts[:debug_return_type] || 'JobCreateResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"JobsApi.create_job_jobs_v1_jobs_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: JobsApi#create_job_jobs_v1_jobs_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create validation job
    # @param job_create_request [JobCreateRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_idempotency_key 
    # @option opts [String] :x_api_key 
    # @option opts [String] :authorization 
    # @return [JobCreateResponse]
    def create_job_jobs_v1_jobs_post_0(job_create_request, opts = {})
      data, _status_code, _headers = create_job_jobs_v1_jobs_post_0_with_http_info(job_create_request, opts)
      data
    end

    # Create validation job
    # @param job_create_request [JobCreateRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_idempotency_key 
    # @option opts [String] :x_api_key 
    # @option opts [String] :authorization 
    # @return [Array<(JobCreateResponse, Integer, Hash)>] JobCreateResponse data, response status code and response headers
    def create_job_jobs_v1_jobs_post_0_with_http_info(job_create_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: JobsApi.create_job_jobs_v1_jobs_post_0 ...'
      end
      # verify the required parameter 'job_create_request' is set
      if @api_client.config.client_side_validation && job_create_request.nil?
        fail ArgumentError, "Missing the required parameter 'job_create_request' when calling JobsApi.create_job_jobs_v1_jobs_post_0"
      end
      # resource path
      local_var_path = '/jobs/v1/jobs'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'X-Idempotency-Key'] = opts[:'x_idempotency_key'] if !opts[:'x_idempotency_key'].nil?
      header_params[:'X-API-Key'] = opts[:'x_api_key'] if !opts[:'x_api_key'].nil?
      header_params[:'authorization'] = opts[:'authorization'] if !opts[:'authorization'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(job_create_request)

      # return_type
      return_type = opts[:debug_return_type] || 'JobCreateResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"JobsApi.create_job_jobs_v1_jobs_post_0",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: JobsApi#create_job_jobs_v1_jobs_post_0\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get job results (paged)
    # @param job_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page  (default to 1)
    # @option opts [Integer] :size  (default to 500)
    # @option opts [String] :x_api_key 
    # @option opts [String] :authorization 
    # @return [JobResultsPage]
    def get_job_results_jobs_v1_jobs_job_id_results_get(job_id, opts = {})
      data, _status_code, _headers = get_job_results_jobs_v1_jobs_job_id_results_get_with_http_info(job_id, opts)
      data
    end

    # Get job results (paged)
    # @param job_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page  (default to 1)
    # @option opts [Integer] :size  (default to 500)
    # @option opts [String] :x_api_key 
    # @option opts [String] :authorization 
    # @return [Array<(JobResultsPage, Integer, Hash)>] JobResultsPage data, response status code and response headers
    def get_job_results_jobs_v1_jobs_job_id_results_get_with_http_info(job_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: JobsApi.get_job_results_jobs_v1_jobs_job_id_results_get ...'
      end
      # verify the required parameter 'job_id' is set
      if @api_client.config.client_side_validation && job_id.nil?
        fail ArgumentError, "Missing the required parameter 'job_id' when calling JobsApi.get_job_results_jobs_v1_jobs_job_id_results_get"
      end
      # resource path
      local_var_path = '/jobs/v1/jobs/{job_id}/results'.sub('{' + 'job_id' + '}', CGI.escape(job_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'size'] = opts[:'size'] if !opts[:'size'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-API-Key'] = opts[:'x_api_key'] if !opts[:'x_api_key'].nil?
      header_params[:'authorization'] = opts[:'authorization'] if !opts[:'authorization'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'JobResultsPage'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"JobsApi.get_job_results_jobs_v1_jobs_job_id_results_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: JobsApi#get_job_results_jobs_v1_jobs_job_id_results_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get job results (paged)
    # @param job_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page  (default to 1)
    # @option opts [Integer] :size  (default to 500)
    # @option opts [String] :x_api_key 
    # @option opts [String] :authorization 
    # @return [JobResultsPage]
    def get_job_results_jobs_v1_jobs_job_id_results_get_0(job_id, opts = {})
      data, _status_code, _headers = get_job_results_jobs_v1_jobs_job_id_results_get_0_with_http_info(job_id, opts)
      data
    end

    # Get job results (paged)
    # @param job_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page  (default to 1)
    # @option opts [Integer] :size  (default to 500)
    # @option opts [String] :x_api_key 
    # @option opts [String] :authorization 
    # @return [Array<(JobResultsPage, Integer, Hash)>] JobResultsPage data, response status code and response headers
    def get_job_results_jobs_v1_jobs_job_id_results_get_0_with_http_info(job_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: JobsApi.get_job_results_jobs_v1_jobs_job_id_results_get_0 ...'
      end
      # verify the required parameter 'job_id' is set
      if @api_client.config.client_side_validation && job_id.nil?
        fail ArgumentError, "Missing the required parameter 'job_id' when calling JobsApi.get_job_results_jobs_v1_jobs_job_id_results_get_0"
      end
      # resource path
      local_var_path = '/jobs/v1/jobs/{job_id}/results'.sub('{' + 'job_id' + '}', CGI.escape(job_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'size'] = opts[:'size'] if !opts[:'size'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-API-Key'] = opts[:'x_api_key'] if !opts[:'x_api_key'].nil?
      header_params[:'authorization'] = opts[:'authorization'] if !opts[:'authorization'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'JobResultsPage'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"JobsApi.get_job_results_jobs_v1_jobs_job_id_results_get_0",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: JobsApi#get_job_results_jobs_v1_jobs_job_id_results_get_0\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get job status
    # @param job_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_api_key 
    # @option opts [String] :authorization 
    # @return [JobStatusResponse]
    def get_job_status_jobs_v1_jobs_job_id_get(job_id, opts = {})
      data, _status_code, _headers = get_job_status_jobs_v1_jobs_job_id_get_with_http_info(job_id, opts)
      data
    end

    # Get job status
    # @param job_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_api_key 
    # @option opts [String] :authorization 
    # @return [Array<(JobStatusResponse, Integer, Hash)>] JobStatusResponse data, response status code and response headers
    def get_job_status_jobs_v1_jobs_job_id_get_with_http_info(job_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: JobsApi.get_job_status_jobs_v1_jobs_job_id_get ...'
      end
      # verify the required parameter 'job_id' is set
      if @api_client.config.client_side_validation && job_id.nil?
        fail ArgumentError, "Missing the required parameter 'job_id' when calling JobsApi.get_job_status_jobs_v1_jobs_job_id_get"
      end
      # resource path
      local_var_path = '/jobs/v1/jobs/{job_id}'.sub('{' + 'job_id' + '}', CGI.escape(job_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-API-Key'] = opts[:'x_api_key'] if !opts[:'x_api_key'].nil?
      header_params[:'authorization'] = opts[:'authorization'] if !opts[:'authorization'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'JobStatusResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"JobsApi.get_job_status_jobs_v1_jobs_job_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: JobsApi#get_job_status_jobs_v1_jobs_job_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get job status
    # @param job_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_api_key 
    # @option opts [String] :authorization 
    # @return [JobStatusResponse]
    def get_job_status_jobs_v1_jobs_job_id_get_0(job_id, opts = {})
      data, _status_code, _headers = get_job_status_jobs_v1_jobs_job_id_get_0_with_http_info(job_id, opts)
      data
    end

    # Get job status
    # @param job_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_api_key 
    # @option opts [String] :authorization 
    # @return [Array<(JobStatusResponse, Integer, Hash)>] JobStatusResponse data, response status code and response headers
    def get_job_status_jobs_v1_jobs_job_id_get_0_with_http_info(job_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: JobsApi.get_job_status_jobs_v1_jobs_job_id_get_0 ...'
      end
      # verify the required parameter 'job_id' is set
      if @api_client.config.client_side_validation && job_id.nil?
        fail ArgumentError, "Missing the required parameter 'job_id' when calling JobsApi.get_job_status_jobs_v1_jobs_job_id_get_0"
      end
      # resource path
      local_var_path = '/jobs/v1/jobs/{job_id}'.sub('{' + 'job_id' + '}', CGI.escape(job_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-API-Key'] = opts[:'x_api_key'] if !opts[:'x_api_key'].nil?
      header_params[:'authorization'] = opts[:'authorization'] if !opts[:'authorization'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'JobStatusResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"JobsApi.get_job_status_jobs_v1_jobs_job_id_get_0",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: JobsApi#get_job_status_jobs_v1_jobs_job_id_get_0\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
