=begin
#Email Validation API — Enterprise-grade Email Verification

#API robusta y segura para validación y verificación de correos electrónicos. Soporta verificación individual y en lote, detección de brechas, y autenticación JWT. Cumple con GDPR y dispone de planes de pago flexibles.  **🔗 Enlaces importantes:** - [Estado del sistema](https://mailsafepro.betteruptime.com) - [Documentación completa](https://email-validation-api-jlra.onrender.com/redoc)  **📧 Contacto:** mailsafepro1@gmail.com

The version of the OpenAPI document: 2.5.0

Generated by: https://openapi-generator.tech
Generator version: 7.18.0

=end

require 'cgi'

module MailSafePro
  class LogsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Clear Request Logs
    # Clear all request logs for current user.
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def clear_request_logs_logs_logs_requests_delete(opts = {})
      data, _status_code, _headers = clear_request_logs_logs_logs_requests_delete_with_http_info(opts)
      data
    end

    # Clear Request Logs
    # Clear all request logs for current user.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def clear_request_logs_logs_logs_requests_delete_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LogsApi.clear_request_logs_logs_logs_requests_delete ...'
      end
      # resource path
      local_var_path = '/logs/logs/requests'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Bearer']

      new_options = opts.merge(
        :operation => :"LogsApi.clear_request_logs_logs_logs_requests_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LogsApi#clear_request_logs_logs_logs_requests_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Request Logs
    # Get request logs for authenticated user.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit Max results to return (default to 100)
    # @option opts [Integer] :status_code Filter by HTTP status code
    # @option opts [String] :endpoint Filter by endpoint path
    # @option opts [String] :method Filter by HTTP method (GET, POST, etc)
    # @option opts [Time] :since Filter by timestamp (ISO 8601)
    # @return [Object]
    def get_request_logs_logs_logs_requests_get(opts = {})
      data, _status_code, _headers = get_request_logs_logs_logs_requests_get_with_http_info(opts)
      data
    end

    # Get Request Logs
    # Get request logs for authenticated user.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit Max results to return (default to 100)
    # @option opts [Integer] :status_code Filter by HTTP status code
    # @option opts [String] :endpoint Filter by endpoint path
    # @option opts [String] :method Filter by HTTP method (GET, POST, etc)
    # @option opts [Time] :since Filter by timestamp (ISO 8601)
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def get_request_logs_logs_logs_requests_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LogsApi.get_request_logs_logs_logs_requests_get ...'
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 500
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling LogsApi.get_request_logs_logs_logs_requests_get, must be smaller than or equal to 500.'
      end

      # resource path
      local_var_path = '/logs/logs/requests'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'status_code'] = opts[:'status_code'] if !opts[:'status_code'].nil?
      query_params[:'endpoint'] = opts[:'endpoint'] if !opts[:'endpoint'].nil?
      query_params[:'method'] = opts[:'method'] if !opts[:'method'].nil?
      query_params[:'since'] = opts[:'since'] if !opts[:'since'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Bearer']

      new_options = opts.merge(
        :operation => :"LogsApi.get_request_logs_logs_logs_requests_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LogsApi#get_request_logs_logs_logs_requests_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
