=begin
#Email Validation API — Enterprise-grade Email Verification

#API robusta y segura para validación y verificación de correos electrónicos. Soporta verificación individual y en lote, detección de brechas, y autenticación JWT. Cumple con GDPR y dispone de planes de pago flexibles.  **🔗 Enlaces importantes:** - [Estado del sistema](https://mailsafepro.betteruptime.com) - [Documentación completa](https://email-validation-api-jlra.onrender.com/redoc)  **📧 Contacto:** mailsafepro1@gmail.com

The version of the OpenAPI document: 2.5.0

Generated by: https://openapi-generator.tech
Generator version: 7.18.0

=end

require 'cgi'

module MailSafePro
  class ValidationApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Batch Email Validation
    # Valida múltiples direcciones de email en una sola solicitud.
    # @param batch_validation_request [BatchValidationRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_api_key 
    # @option opts [String] :authorization 
    # @return [BatchEmailResponse]
    def batch_validate_emails_validate_batch_post(batch_validation_request, opts = {})
      data, _status_code, _headers = batch_validate_emails_validate_batch_post_with_http_info(batch_validation_request, opts)
      data
    end

    # Batch Email Validation
    # Valida múltiples direcciones de email en una sola solicitud.
    # @param batch_validation_request [BatchValidationRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_api_key 
    # @option opts [String] :authorization 
    # @return [Array<(BatchEmailResponse, Integer, Hash)>] BatchEmailResponse data, response status code and response headers
    def batch_validate_emails_validate_batch_post_with_http_info(batch_validation_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ValidationApi.batch_validate_emails_validate_batch_post ...'
      end
      # verify the required parameter 'batch_validation_request' is set
      if @api_client.config.client_side_validation && batch_validation_request.nil?
        fail ArgumentError, "Missing the required parameter 'batch_validation_request' when calling ValidationApi.batch_validate_emails_validate_batch_post"
      end
      # resource path
      local_var_path = '/validate/batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'X-API-Key'] = opts[:'x_api_key'] if !opts[:'x_api_key'].nil?
      header_params[:'authorization'] = opts[:'authorization'] if !opts[:'authorization'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(batch_validation_request)

      # return_type
      return_type = opts[:debug_return_type] || 'BatchEmailResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ValidationApi.batch_validate_emails_validate_batch_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ValidationApi#batch_validate_emails_validate_batch_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Batch Email Validation via File Upload
    # @param file [File] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_api_key 
    # @option opts [String] :authorization 
    # @option opts [String] :column 
    # @option opts [Boolean] :include_raw_dns  (default to false)
    # @option opts [Boolean] :check_smtp  (default to false)
    # @return [Object]
    def batch_validate_upload_validate_batch_upload_post(file, opts = {})
      data, _status_code, _headers = batch_validate_upload_validate_batch_upload_post_with_http_info(file, opts)
      data
    end

    # Batch Email Validation via File Upload
    # @param file [File] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_api_key 
    # @option opts [String] :authorization 
    # @option opts [String] :column 
    # @option opts [Boolean] :include_raw_dns  (default to false)
    # @option opts [Boolean] :check_smtp  (default to false)
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def batch_validate_upload_validate_batch_upload_post_with_http_info(file, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ValidationApi.batch_validate_upload_validate_batch_upload_post ...'
      end
      # verify the required parameter 'file' is set
      if @api_client.config.client_side_validation && file.nil?
        fail ArgumentError, "Missing the required parameter 'file' when calling ValidationApi.batch_validate_upload_validate_batch_upload_post"
      end
      # resource path
      local_var_path = '/validate/batch/upload'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['multipart/form-data'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'X-API-Key'] = opts[:'x_api_key'] if !opts[:'x_api_key'].nil?
      header_params[:'authorization'] = opts[:'authorization'] if !opts[:'authorization'].nil?

      # form parameters
      form_params = opts[:form_params] || {}
      form_params['file'] = file
      form_params['column'] = opts[:'column'] if !opts[:'column'].nil?
      form_params['include_raw_dns'] = opts[:'include_raw_dns'] if !opts[:'include_raw_dns'].nil?
      form_params['check_smtp'] = opts[:'check_smtp'] if !opts[:'check_smtp'].nil?

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ValidationApi.batch_validate_upload_validate_batch_upload_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ValidationApi#batch_validate_upload_validate_batch_upload_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Cache Stats
    # Obtiene estadísticas de cache del sistema.
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def get_cache_stats_validate_stats_cache_get(opts = {})
      data, _status_code, _headers = get_cache_stats_validate_stats_cache_get_with_http_info(opts)
      data
    end

    # Get Cache Stats
    # Obtiene estadísticas de cache del sistema.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def get_cache_stats_validate_stats_cache_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ValidationApi.get_cache_stats_validate_stats_cache_get ...'
      end
      # resource path
      local_var_path = '/validate/stats/cache'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ValidationApi.get_cache_stats_validate_stats_cache_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ValidationApi#get_cache_stats_validate_stats_cache_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Usage Stats
    # Obtiene estadísticas de uso del cliente actual.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_api_key 
    # @option opts [String] :authorization 
    # @return [Object]
    def get_usage_stats_validate_stats_usage_get(opts = {})
      data, _status_code, _headers = get_usage_stats_validate_stats_usage_get_with_http_info(opts)
      data
    end

    # Get Usage Stats
    # Obtiene estadísticas de uso del cliente actual.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_api_key 
    # @option opts [String] :authorization 
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def get_usage_stats_validate_stats_usage_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ValidationApi.get_usage_stats_validate_stats_usage_get ...'
      end
      # resource path
      local_var_path = '/validate/stats/usage'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-API-Key'] = opts[:'x_api_key'] if !opts[:'x_api_key'].nil?
      header_params[:'authorization'] = opts[:'authorization'] if !opts[:'authorization'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ValidationApi.get_usage_stats_validate_stats_usage_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ValidationApi#get_usage_stats_validate_stats_usage_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Health Check
    # Health check completo del servicio de validación.
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def health_check_validate_health_get(opts = {})
      data, _status_code, _headers = health_check_validate_health_get_with_http_info(opts)
      data
    end

    # Health Check
    # Health check completo del servicio de validación.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def health_check_validate_health_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ValidationApi.health_check_validate_health_get ...'
      end
      # resource path
      local_var_path = '/validate/health'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ValidationApi.health_check_validate_health_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ValidationApi#health_check_validate_health_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Health Check
    # Health check completo del servicio de validación.
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def health_check_validate_health_head(opts = {})
      data, _status_code, _headers = health_check_validate_health_head_with_http_info(opts)
      data
    end

    # Health Check
    # Health check completo del servicio de validación.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def health_check_validate_health_head_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ValidationApi.health_check_validate_health_head ...'
      end
      # resource path
      local_var_path = '/validate/health'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ValidationApi.health_check_validate_health_head",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:HEAD, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ValidationApi#health_check_validate_health_head\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Validate Email Endpoint
    # ✅ Endpoint de validación de email con timeout y fallback robusto.  Cambios principales: - Timeout explícito por plan (FREE: 15s, PREMIUM: 45s, ENTERPRISE: 60s) - Fallback BASIC seguro si se vence - SIEMPRE retorna JSONResponse válida - client_plan en TODAS las respuestas - spam_trap_check ejecutado ANTES del timeout para estar disponible en fallback - Manejo de errores con ResponseBuilder - ✅ NUEVO: Soporte para TLD .test en testing_mode
    # @param email_validation_request [EmailValidationRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_api_key 
    # @option opts [String] :authorization 
    # @return [Object]
    def validate_email_endpoint_validate_email_post(email_validation_request, opts = {})
      data, _status_code, _headers = validate_email_endpoint_validate_email_post_with_http_info(email_validation_request, opts)
      data
    end

    # Validate Email Endpoint
    # ✅ Endpoint de validación de email con timeout y fallback robusto.  Cambios principales: - Timeout explícito por plan (FREE: 15s, PREMIUM: 45s, ENTERPRISE: 60s) - Fallback BASIC seguro si se vence - SIEMPRE retorna JSONResponse válida - client_plan en TODAS las respuestas - spam_trap_check ejecutado ANTES del timeout para estar disponible en fallback - Manejo de errores con ResponseBuilder - ✅ NUEVO: Soporte para TLD .test en testing_mode
    # @param email_validation_request [EmailValidationRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_api_key 
    # @option opts [String] :authorization 
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def validate_email_endpoint_validate_email_post_with_http_info(email_validation_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ValidationApi.validate_email_endpoint_validate_email_post ...'
      end
      # verify the required parameter 'email_validation_request' is set
      if @api_client.config.client_side_validation && email_validation_request.nil?
        fail ArgumentError, "Missing the required parameter 'email_validation_request' when calling ValidationApi.validate_email_endpoint_validate_email_post"
      end
      # resource path
      local_var_path = '/validate/email'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'X-API-Key'] = opts[:'x_api_key'] if !opts[:'x_api_key'].nil?
      header_params[:'authorization'] = opts[:'authorization'] if !opts[:'authorization'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(email_validation_request)

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ValidationApi.validate_email_endpoint_validate_email_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ValidationApi#validate_email_endpoint_validate_email_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
