=begin
#Email Validation API — Enterprise-grade Email Verification

#API robusta y segura para validación y verificación de correos electrónicos. Soporta verificación individual y en lote, detección de brechas, y autenticación JWT. Cumple con GDPR y dispone de planes de pago flexibles.  **🔗 Enlaces importantes:** - [Estado del sistema](https://mailsafepro.betteruptime.com) - [Documentación completa](https://email-validation-api-jlra.onrender.com/redoc)  **📧 Contacto:** mailsafepro1@gmail.com

The version of the OpenAPI document: 2.5.0

Generated by: https://openapi-generator.tech
Generator version: 7.18.0

=end

require 'cgi'

module MailSafePro
  class WebhooksManagementApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create Webhook
    # Create a new webhook endpoint.  Events available: - validation.completed: Single email validation finished - batch.completed: Batch validation finished - usage.limit_reached: API usage limit reached (80%)
    # @param webhook_create [WebhookCreate] 
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def create_webhook_webhooks_management_webhooks_post(webhook_create, opts = {})
      data, _status_code, _headers = create_webhook_webhooks_management_webhooks_post_with_http_info(webhook_create, opts)
      data
    end

    # Create Webhook
    # Create a new webhook endpoint.  Events available: - validation.completed: Single email validation finished - batch.completed: Batch validation finished - usage.limit_reached: API usage limit reached (80%)
    # @param webhook_create [WebhookCreate] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def create_webhook_webhooks_management_webhooks_post_with_http_info(webhook_create, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebhooksManagementApi.create_webhook_webhooks_management_webhooks_post ...'
      end
      # verify the required parameter 'webhook_create' is set
      if @api_client.config.client_side_validation && webhook_create.nil?
        fail ArgumentError, "Missing the required parameter 'webhook_create' when calling WebhooksManagementApi.create_webhook_webhooks_management_webhooks_post"
      end
      # resource path
      local_var_path = '/webhooks-management/webhooks/'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(webhook_create)

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Bearer']

      new_options = opts.merge(
        :operation => :"WebhooksManagementApi.create_webhook_webhooks_management_webhooks_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebhooksManagementApi#create_webhook_webhooks_management_webhooks_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete Webhook
    # Delete webhook.
    # @param webhook_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def delete_webhook_webhooks_management_webhooks_webhook_id_delete(webhook_id, opts = {})
      data, _status_code, _headers = delete_webhook_webhooks_management_webhooks_webhook_id_delete_with_http_info(webhook_id, opts)
      data
    end

    # Delete Webhook
    # Delete webhook.
    # @param webhook_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def delete_webhook_webhooks_management_webhooks_webhook_id_delete_with_http_info(webhook_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebhooksManagementApi.delete_webhook_webhooks_management_webhooks_webhook_id_delete ...'
      end
      # verify the required parameter 'webhook_id' is set
      if @api_client.config.client_side_validation && webhook_id.nil?
        fail ArgumentError, "Missing the required parameter 'webhook_id' when calling WebhooksManagementApi.delete_webhook_webhooks_management_webhooks_webhook_id_delete"
      end
      # resource path
      local_var_path = '/webhooks-management/webhooks/{webhook_id}'.sub('{' + 'webhook_id' + '}', CGI.escape(webhook_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Bearer']

      new_options = opts.merge(
        :operation => :"WebhooksManagementApi.delete_webhook_webhooks_management_webhooks_webhook_id_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebhooksManagementApi#delete_webhook_webhooks_management_webhooks_webhook_id_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Deliveries
    # Get delivery history for webhook.
    # @param webhook_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit  (default to 100)
    # @return [Object]
    def get_deliveries_webhooks_management_webhooks_webhook_id_deliveries_get(webhook_id, opts = {})
      data, _status_code, _headers = get_deliveries_webhooks_management_webhooks_webhook_id_deliveries_get_with_http_info(webhook_id, opts)
      data
    end

    # Get Deliveries
    # Get delivery history for webhook.
    # @param webhook_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit  (default to 100)
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def get_deliveries_webhooks_management_webhooks_webhook_id_deliveries_get_with_http_info(webhook_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebhooksManagementApi.get_deliveries_webhooks_management_webhooks_webhook_id_deliveries_get ...'
      end
      # verify the required parameter 'webhook_id' is set
      if @api_client.config.client_side_validation && webhook_id.nil?
        fail ArgumentError, "Missing the required parameter 'webhook_id' when calling WebhooksManagementApi.get_deliveries_webhooks_management_webhooks_webhook_id_deliveries_get"
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 500
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling WebhooksManagementApi.get_deliveries_webhooks_management_webhooks_webhook_id_deliveries_get, must be smaller than or equal to 500.'
      end

      # resource path
      local_var_path = '/webhooks-management/webhooks/{webhook_id}/deliveries'.sub('{' + 'webhook_id' + '}', CGI.escape(webhook_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Bearer']

      new_options = opts.merge(
        :operation => :"WebhooksManagementApi.get_deliveries_webhooks_management_webhooks_webhook_id_deliveries_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebhooksManagementApi#get_deliveries_webhooks_management_webhooks_webhook_id_deliveries_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Webhook
    # Get webhook details.
    # @param webhook_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def get_webhook_webhooks_management_webhooks_webhook_id_get(webhook_id, opts = {})
      data, _status_code, _headers = get_webhook_webhooks_management_webhooks_webhook_id_get_with_http_info(webhook_id, opts)
      data
    end

    # Get Webhook
    # Get webhook details.
    # @param webhook_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def get_webhook_webhooks_management_webhooks_webhook_id_get_with_http_info(webhook_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebhooksManagementApi.get_webhook_webhooks_management_webhooks_webhook_id_get ...'
      end
      # verify the required parameter 'webhook_id' is set
      if @api_client.config.client_side_validation && webhook_id.nil?
        fail ArgumentError, "Missing the required parameter 'webhook_id' when calling WebhooksManagementApi.get_webhook_webhooks_management_webhooks_webhook_id_get"
      end
      # resource path
      local_var_path = '/webhooks-management/webhooks/{webhook_id}'.sub('{' + 'webhook_id' + '}', CGI.escape(webhook_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Bearer']

      new_options = opts.merge(
        :operation => :"WebhooksManagementApi.get_webhook_webhooks_management_webhooks_webhook_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebhooksManagementApi#get_webhook_webhooks_management_webhooks_webhook_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Webhooks
    # List all webhooks for authenticated user.
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def list_webhooks_webhooks_management_webhooks_get(opts = {})
      data, _status_code, _headers = list_webhooks_webhooks_management_webhooks_get_with_http_info(opts)
      data
    end

    # List Webhooks
    # List all webhooks for authenticated user.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def list_webhooks_webhooks_management_webhooks_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebhooksManagementApi.list_webhooks_webhooks_management_webhooks_get ...'
      end
      # resource path
      local_var_path = '/webhooks-management/webhooks/'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Bearer']

      new_options = opts.merge(
        :operation => :"WebhooksManagementApi.list_webhooks_webhooks_management_webhooks_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebhooksManagementApi#list_webhooks_webhooks_management_webhooks_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Test Webhook
    # Send test event to webhook.
    # @param webhook_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def test_webhook_webhooks_management_webhooks_webhook_id_test_post(webhook_id, opts = {})
      data, _status_code, _headers = test_webhook_webhooks_management_webhooks_webhook_id_test_post_with_http_info(webhook_id, opts)
      data
    end

    # Test Webhook
    # Send test event to webhook.
    # @param webhook_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def test_webhook_webhooks_management_webhooks_webhook_id_test_post_with_http_info(webhook_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebhooksManagementApi.test_webhook_webhooks_management_webhooks_webhook_id_test_post ...'
      end
      # verify the required parameter 'webhook_id' is set
      if @api_client.config.client_side_validation && webhook_id.nil?
        fail ArgumentError, "Missing the required parameter 'webhook_id' when calling WebhooksManagementApi.test_webhook_webhooks_management_webhooks_webhook_id_test_post"
      end
      # resource path
      local_var_path = '/webhooks-management/webhooks/{webhook_id}/test'.sub('{' + 'webhook_id' + '}', CGI.escape(webhook_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Bearer']

      new_options = opts.merge(
        :operation => :"WebhooksManagementApi.test_webhook_webhooks_management_webhooks_webhook_id_test_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebhooksManagementApi#test_webhook_webhooks_management_webhooks_webhook_id_test_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Webhook
    # Update webhook configuration.
    # @param webhook_id [String] 
    # @param webhook_update [WebhookUpdate] 
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def update_webhook_webhooks_management_webhooks_webhook_id_patch(webhook_id, webhook_update, opts = {})
      data, _status_code, _headers = update_webhook_webhooks_management_webhooks_webhook_id_patch_with_http_info(webhook_id, webhook_update, opts)
      data
    end

    # Update Webhook
    # Update webhook configuration.
    # @param webhook_id [String] 
    # @param webhook_update [WebhookUpdate] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def update_webhook_webhooks_management_webhooks_webhook_id_patch_with_http_info(webhook_id, webhook_update, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebhooksManagementApi.update_webhook_webhooks_management_webhooks_webhook_id_patch ...'
      end
      # verify the required parameter 'webhook_id' is set
      if @api_client.config.client_side_validation && webhook_id.nil?
        fail ArgumentError, "Missing the required parameter 'webhook_id' when calling WebhooksManagementApi.update_webhook_webhooks_management_webhooks_webhook_id_patch"
      end
      # verify the required parameter 'webhook_update' is set
      if @api_client.config.client_side_validation && webhook_update.nil?
        fail ArgumentError, "Missing the required parameter 'webhook_update' when calling WebhooksManagementApi.update_webhook_webhooks_management_webhooks_webhook_id_patch"
      end
      # resource path
      local_var_path = '/webhooks-management/webhooks/{webhook_id}'.sub('{' + 'webhook_id' + '}', CGI.escape(webhook_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(webhook_update)

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Bearer']

      new_options = opts.merge(
        :operation => :"WebhooksManagementApi.update_webhook_webhooks_management_webhooks_webhook_id_patch",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebhooksManagementApi#update_webhook_webhooks_management_webhooks_webhook_id_patch\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
